<nav class="navbar navbar-default" style="background-color: #efecec;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><b><i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp;Kitchen Recipes</b></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save Data</a></li>
            <li><a style="cursor: pointer;"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
